.padre{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 65% 1fr;

}
img{
  background:url("../img/fondo.jpg");
  background-size: cover;
  width: 100%;
  height: 720px;
}
.contenido{
  background-color: #E1EBF4 ;
}
.formulario{
  background-color: #F4F7F9;
  position: absolute;
  top:50%;
  left:82.6%;
  transform: translate(-50%, -50%);
    border: 2px solid black;
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
}
.componentes{
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
}
.botones{
  margin-top: 20px;
}
input[type="text"],
input[type="password"]{
  width: 300px;
  border-radius: 10px;
  padding:8px;
  height: 45px;
  outline: none;
  border: 2px solid rgba(255, 0, 255, 0.25);
  color:#468988;
}
.form_label{
  position: absolute;
  top:6px;
  left:20px;
  background:#FAFCFC;
  padding:5px;
  transition: .6s;
}
.inputBox{
  position: relative;
  margin-bottom: 25px;
}
.form_input:focus+ .form_label,
.form_input:valid+ .form_label{
  transform: translateY(-1.6rem);
  transition: .6s;
  font-size: 18px;
  color: #2485f4;
  border-radius:10px;
}
.form_input:focus{
  outline:none;
  border: 2px solid rgba(0, 5, 8, 0.25);
}
.titulo{
  text-align: center;
  padding: 10px;
}
.formulario_btn_enviar{
  text-align: center;
  padding: 10px;
}
.formulario_btn{
  width:100%;
  height:40px;
  border-radius:10px;
  font-size:20px;
  background-color:#3b5998;
  font-weight: bold;
  color: #ffff;
}
.formulario_btn:hover{
  background-color:#128EE0;
  border: 2px solid rgba(0, 5, 8, 0.25);
}

